### Feature tools

It is automated feature tools Transforms Transactional and relational datasets into feature matrices for machine learning. Deep Feature Synthesis (DFS) to perform automated feature engineering. DFS is used to create the “Data Science Machine” to automatically build predictive models for complex, multi-table datasets.<br>
Each table is called an entity in Featuretools. When 2 two entities have a one-to-many relationship, then “one” enitity, is called the “parent entity”. A relationship between a parent and child is defined like this:<br>
(parent_entity, parent_variable, child_entity, child_variable) <br>

A minimal input to DFS is a set of entities, a list of relationships, and the “target_entity” to calculate features for. The ouput of DFS is a feature matrix and the corresponding list of feature defintions.

example:<br>
feature_matrix_customers, features_defs = ft.dfs(entities=entities,
                                                   relationships=relationships,
                                                    target_entity="customers"
<br>
We can change target entity and get feature matrix for any entities of our choice.

In [5]:
import pandas as pd
import urllib
from urllib import request
import featuretools as ft
import numpy as np

url = "https://raw.githubusercontent.com/LuisM78/Appliances-energy-prediction-data/master/energydata_complete.csv"
data = pd.read_csv(url)
data.head(5)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Converting dataset into Entity

In [25]:
entities = {
    "energy" : (data, "id")
}

In [39]:
es=ft.EntitySet("my-entity-set", entities)
es

2018-03-14 19:11:11,554 featuretools.entityset - WARNING    index id not found in dataframe, creating new integer column

Entityset: my-entity-set
  Entities:
    energy (shape = [19735, 30])
  Relationships:
    No relationships

In [45]:
es["energy"].variables

[<Variable: date (dtype: datetime, format: None)>,
 <Variable: Appliances (dtype = numeric, count = 19735)>,
 <Variable: lights (dtype = numeric, count = 19735)>,
 <Variable: T1 (dtype = numeric, count = 19735)>,
 <Variable: RH_1 (dtype = numeric, count = 19735)>,
 <Variable: T2 (dtype = numeric, count = 19735)>,
 <Variable: RH_2 (dtype = numeric, count = 19735)>,
 <Variable: T3 (dtype = numeric, count = 19735)>,
 <Variable: RH_3 (dtype = numeric, count = 19735)>,
 <Variable: T4 (dtype = numeric, count = 19735)>,
 <Variable: RH_4 (dtype = numeric, count = 19735)>,
 <Variable: T5 (dtype = numeric, count = 19735)>,
 <Variable: RH_5 (dtype = numeric, count = 19735)>,
 <Variable: T6 (dtype = numeric, count = 19735)>,
 <Variable: RH_6 (dtype = numeric, count = 19735)>,
 <Variable: T7 (dtype = numeric, count = 19735)>,
 <Variable: RH_7 (dtype = numeric, count = 19735)>,
 <Variable: T8 (dtype = numeric, count = 19735)>,
 <Variable: RH_8 (dtype = numeric, count = 19735)>,
 <Variable: T9 (dtype = numeric, count = 19735)>,
 <Variable: RH_9 (dtype = numeric, count = 19735)>,
 <Variable: T_out (dtype = numeric, count = 19735)>,
 <Variable: Press_mm_hg (dtype = numeric, count = 19735)>,
 <Variable: RH_out (dtype = numeric, count = 19735)>,
 <Variable: Windspeed (dtype = numeric, count = 19735)>,
 <Variable: Visibility (dtype = numeric, count = 19735)>,
 <Variable: Tdewpoint (dtype = numeric, count = 19735)>,
 <Variable: rv1 (dtype = numeric, count = 19735)>,
 <Variable: rv2 (dtype = numeric, count = 19735)>,
 <Variable: id (dtype = index, count = 19735)>]

In [55]:
es = es.normalize_entity(base_entity_id="energy",
                             new_entity_id="lights",
                             index="Appliances",additional_variables=["T3", "T4", "T5"])

es["lights"].variables

2018-03-14 19:23:18,792 featuretools.entityset - WARNING    Not adding duplicate relationship: <Relationship: energy.Appliances -> lights.Appliances>

[<Variable: Appliances (dtype = index, count = 92)>,
 <Variable: T3 (dtype = numeric, count = 92)>,
 <Variable: T4 (dtype = numeric, count = 92)>,
 <Variable: T5 (dtype = numeric, count = 92)>]

In [56]:
es

Entityset: my-entity-set
  Entities:
    energy (shape = [19735, 24])
    lights (shape = [92, 4])
  Relationships:
    energy.Appliances -> lights.Appliances

In [61]:
es["lights"].head()

            Appliances         T3         T4         T5
Appliances
10                  10  19.700000  18.600000  17.100000
20                  20  20.290000  20.533333  18.700000
30                  30  20.200000  20.566667  19.200000
40                  40  20.230000  20.700000  19.200000
50                  50  19.790000  18.926667  17.166667
60                  60  19.790000  19.000000  17.166667
70                  70  19.790000  18.890000  17.100000
80                  80  20.200000  18.963333  17.200000
90                  90  20.200000  18.926667  17.166667
100                100  20.033333  19.000000  17.100000

In [62]:
es["energy"].head()

,id,date,Appliances,lights,RH_1,RH_2,RH_3,RH_4,RH_5,RH_6,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
id,,,,,,,,,,,,,,,,,,,,,
0,0,2016-01-11 17:00:00,60,30,47.596667,44.790000,44.730000,45.566667,55.200000,84.256667,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,1,2016-01-11 17:10:00,60,30,46.693333,44.722500,44.790000,45.992500,55.200000,84.063333,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2,2016-01-11 17:20:00,50,30,46.300000,44.626667,44.933333,45.890000,55.090000,83.156667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,3,2016-01-11 17:30:00,50,40,46.066667,44.590000,45.000000,45.723333,55.090000,83.423333,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,4,2016-01-11 17:40:00,60,40,46.333333,44.530000,45.000000,45.530000,55.090000,84.893333,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,5,2016-01-11 17:50:00,50,40,46.026667,44.500000,44.933333,45.730000,55.030000,85.766667,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,6,2016-01-11 18:00:00,60,50,45.766667,44.500000,44.900000,45.790000,54.966667,86.090000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,7,2016-01-11 18:10:00,60,50,45.560000,44.500000,44.900000,45.863333,54.900000,86.423333,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,8,2016-01-11 18:20:00,60,40,45.597500,44.433333,44.790000,45.790000,55.000000,87.226667,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,9,2016-01-11 18:30:00,70,40,46.090000,44.400000,44.863333,46.096667,55.000000,87.626667,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [ ]:
new_relationship = ft.Relationship(es["lights"]["Appliances"],
                                     es["energy"]["Appliances"])

In [63]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                          target_entity="lights")

In [64]:
feature_matrix

,T3,T4,T5,SUM(energy.lights),SUM(energy.RH_1),SUM(energy.RH_2),SUM(energy.RH_3),SUM(energy.RH_4),SUM(energy.RH_5),SUM(energy.RH_6),...,MEAN(energy.rv2),COUNT(energy),NUM_UNIQUE(energy.DAY(date)),NUM_UNIQUE(energy.YEAR(date)),NUM_UNIQUE(energy.MONTH(date)),NUM_UNIQUE(energy.WEEKDAY(date)),MODE(energy.DAY(date)),MODE(energy.YEAR(date)),MODE(energy.MONTH(date)),MODE(energy.WEEKDAY(date))
Appliances,,,,,,,,,,,,,,,,,,,,,
10,19.700000,18.600000,17.100000,10,388.211667,392.656667,377.687500,386.090000,460.230825,829.831111,...,18.903283,9,7,1,2,5,28,2016,1,3
20,20.290000,20.533333,18.700000,170,14075.958929,14260.389544,14008.221917,14003.102333,17767.378927,27685.161240,...,24.866657,343,31,1,5,7,27,2016,1,4
30,20.200000,20.566667,19.200000,780,28573.419167,29275.997506,28520.481087,28059.508548,36518.674745,50411.846572,...,25.960188,723,31,1,5,7,18,2016,1,4
40,20.230000,20.700000,19.200000,2730,81469.864211,82956.507901,81010.238017,80232.707178,103386.057881,144598.758299,...,24.878402,2019,31,1,5,7,19,2016,1,1
50,19.790000,18.926667,17.166667,5210,174458.232753,178660.487326,171553.540294,170013.238402,219820.662122,256046.016930,...,25.104459,4368,31,1,5,7,19,2016,4,1
60,19.790000,19.000000,17.166667,10590,131585.699674,134149.038077,127859.407501,127638.785237,163948.620873,166927.484823,...,25.181673,3282,31,1,5,7,12,2016,4,1
70,19.790000,18.890000,17.100000,7880,62253.329592,62556.575831,60458.791107,60447.136386,79456.418826,77628.319468,...,24.501307,1560,31,1,5,7,25,2016,4,2
80,20.200000,18.963333,17.200000,5460,47813.004756,47304.958316,46461.487159,46449.237613,61777.688307,56761.166294,...,24.656351,1205,31,1,5,7,20,2016,5,2
90,20.200000,18.926667,17.166667,5700,40606.643236,39995.960522,39323.172769,39211.660532,52370.610106,46845.591517,...,25.640040,1015,31,1,5,7,24,2016,3,2
100,20.033333,19.000000,17.100000,5730,39718.010959,38903.498476,37888.602407,37957.009800,51424.245282,44340.338765,...,25.172715,978,31,1,5,7,14,2016,2,6
110,20.260000,19.323333,17.600000,4850,29963.077063,29419.850235,28476.245745,28540.119554,38659.283287,30878.183404,...,24.458478,736,31,1,5,7,14,2016,3,5
120,20.166667,19.175000,18.066667,3540,20474.091632,20035.179491,19557.260297,19513.890714,26430.876704,22566.442487,...,25.119388,502,31,1,5,7,23,2016,4,6
130,19.890000,19.856667,17.856667,2720,13405.149190,13162.340889,12875.219180,12791.685316,17491.906353,15326.380469,...,24.175263,330,31,1,5,7,9,2016,3,1
140,20.166667,19.033333,17.593333,2460,9142.037636,8973.129785,8789.707556,8794.817150,11964.137331,10954.396417,...,24.443029,223,31,1,5,7,24,2016,3,1
150,19.200000,18.600000,17.700000,1070,5872.220725,5750.599351,5644.218097,5646.906693,7475.022969,6924.029901,...,24.227941,144,29,1,5,7,24,2016,2,1
160,21.200000,20.066667,20.893333,910,3700.484794,3604.763457,3536.224044,3556.030010,4617.930266,4468.739195,...,23.648364,90,28,1,5,7,9,2016,2,2
170,20.000000,20.000000,17.963333,480,2868.542500,2794.663399,2761.461127,2755.629501,3593.236794,3461.380556,...,25.139818,70,26,1,5,7,14,2016,2,0
180,19.500000,18.290000,18.222500,570,3257.125563,3159.103487,3101.894166,3083.981058,3991.051201,4326.934961,...,26.182685,78,28,1,5,7,16,2016,2,1
190,20.200000,19.260000,17.666667,610,3587.162619,3478.123881,3446.987143,3434.183897,4409.605147,4608.075270,...,25.113635,86,31,1,5,7,23,2016,2,4
200,19.945000,19.600000,17.790000,380,2368.886024,2318.232814,2272.935405,2264.911735,2974.506123,2977.732928,...,22.899091,58,29,1,5,7,12,2016,2,3
210,19.790000,19.200000,17.600000,500,2785.014024,2710.493997,2699.236508,2632.371996,3473.778071,3602.910139,...,29.259321,69,26,1,5,7,4,2016,3,2
220,20.000000,20.000000,18.000000,400,3047.793156,2948.149048,2971.839292,2932.050385,3673.370136,4151.407583,...,28.459476,73,27,1,5,7,3,2016,2,4
230,19.790000,18.890000,17.100000,580,3347.074810,3246.161095,3287.432444,3196.001166,4238.067218,4504.591190,...,26.142286,82,29,1,5,7,16,2016,2,0
240,20.500000,20.596667,19.200000,400,3484.880471,3359.864327,3365.995530,3309.082942,4117.585092,3994.249073,...,25.841169,84,29,1,5,7,22,2016,2,0
250,19.890000,19.000000,17.100000,480,3147.330706,3035.900690,3066.000810,3005.024419,3810.681331,3675.901190,...,23.687579,77,28,1,5,7,13,2016,2,5
260,20.000000,19.100000,18.000000,530,3683.041117,3533.024070,3601.385170,3502.647699,4374.450953,4079.695111,...,23.944205,89,27,1,5,7,4,2016,2,4
270,20.350000,19.390000,19.323333,540,3606.155345,3480.454881,3507.514345,3446.766950,4430.128045,3738.648202,...,25.227304,87,28,1,5,7,4,2016,4,0
280,21.290000,20.293333,20.790000,320,3385.276429,3297.391548,3265.859119,3209.938857,4206.031762,4072.960437,...,26.752419,82,29,1,5,7,13,2016,2,4
290,19.890000,19.856667,17.856667,420,2829.903424,2758.377691,2756.903879,2656.152605,3501.558035,3203.622677,...,23.002045,69,26,1,5,7,15,2016,4,0
300,19.390000,18.823333,18.260000,450,2998.163667,2905.869167,2962.046357,2868.705794,3583.774465,3495.851841,...,23.798485,73,26,1,5,7,8,2016,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,20.066667,18.200000,19.623333,70,443.260000,426.832500,431.898571,414.524167,588.780794,616.343889,...,27.433266,11,7,1,5,4,7,2016,3,0
640,21.700000,19.960000,17.890000,50,294.530000,299.170000,284.963333,289.463333,346.406222,359.567619,...,16.783052,7,6,1,4,4,15,2016,4,4
650,21.700000,20.100000,17.932778,70,288.370833,290.663333,279.676667,280.070000,344.560000,452.463333,...,30.848698,7,7,1,4,4,9,2016,2,4
660,19.356667,18.463333,17.340000,80,466.743333,450.537976,438.392500,440.731429,590.626667,582.934679,...,21.739643,11,10,1,5,5,8,2016,3,0
670,20.530000,18.790000,17.677778,30,166.216667,164.270000,163.586667,162.383333,222.529444,244.386667,...,23.250024,4,2,1,3,2,30,2016,1,5
680,19.293333,19.300000,15.390000,80,242.216667,228.473333,237.320000,222.670000,280.130000,324.211667,...,24.335288,6,5,1,4,3,10,2016,3,4
690,19.320000,18.700000,17.323333,70,366.070000,362.658333,359.941667,353.860000,455.681111,658.093333,...,22.302363,9,8,1,4,6,14,2016,2,1
700,24.230000,19.722500,21.351111,60,365.670833,359.236667,350.177333,356.257500,429.911825,458.851667,...,27.333447,9,9,1,3,5,1,2016,2,0
710,18.960000,18.826667,15.390000,120,340.436667,320.652000,327.115833,318.267500,390.906714,387.650667,...,19.836749,8,7,1,5,5,8,2016,2,0
720,21.600000,21.000000,17.875714,50,298.876667,281.453333,277.214167,275.706667,332.531524,136.252667,...,22.998096,7,5,1,3,4,4,2016,4,4
730,25.000000,21.633333,20.700000,0,134.830000,130.079167,118.816667,122.923333,143.116667,76.253333,...,20.341794,3,3,1,1,3,4,2016,4,0
740,21.417500,18.700000,17.100000,50,191.700000,186.046667,197.576667,182.576667,281.337778,312.651667,...,18.387861,5,4,1,3,3,14,2016,1,0
750,20.860000,20.890000,18.890000,80,306.090000,293.900000,285.970000,285.010000,341.926349,350.260000,...,28.859962,7,7,1,3,5,4,2016,4,0
760,20.100000,18.700000,17.500000,50,167.183333,160.100000,152.222500,147.126667,185.340000,116.887619,...,30.406108,4,3,1,2,4,8,2016,3,0
770,20.500000,21.890000,17.890000,20,89.263333,80.233333,78.386667,75.616667,92.805714,93.626667,...,9.271920,2,2,1,2,2,12,2016,2,1
780,21.760000,21.356667,17.600000,0,162.720000,168.776667,155.113333,153.271667,194.843333,271.055833,...,28.392924,4,4,1,3,3,16,2016,3,4
790,22.166667,18.790000,17.100000,20,174.950000,161.767576,165.316667,172.443333,199.812500,191.261667,...,28.900878,4,4,1,3,4,4,2016,1,0
800,20.790000,21.000000,18.030000,20,123.950000,121.433939,121.213333,121.816667,144.332000,244.356667,...,31.889573,3,3,1,2,2,16,2016,1,6
820,25.033333,21.937143,20.890000,0,92.126667,81.428095,79.983333,81.285000,97.096667,57.533333,...,10.918739,2,2,1,2,2,16,2016,4,3
830,17.790000,16.200000,16.038889,10,38.090000,38.030000,37.390000,36.530000,51.398333,96.400000,...,25.791194,1,1,1,1,1,20,2016,1,2
840,22.700000,19.823333,19.200000,0,37.700000,38.466667,36.590000,39.326667,42.590000,20.596667,...,47.772522,1,1,1,1,1,30,2016,4,5
850,18.230000,17.523333,15.390000,20,87.793333,80.025714,80.623333,86.326667,98.700000,100.900000,...,31.571944,2,2,1,2,2,24,2016,1,3
860,20.033333,20.000000,18.166667,0,32.730000,33.266667,34.696667,32.100000,46.466667,56.266667,...,40.254773,1,1,1,1,1,14,2016,3,0
870,27.163333,22.832857,20.790000,0,37.590000,35.740000,38.066667,34.577143,42.163333,3.363333,...,45.527255,1,1,1,1,1,22,2016,4,4
880,25.633333,20.500000,19.700000,10,40.530000,41.030000,38.260000,38.766667,46.800000,48.730000,...,49.270131,1,1,1,1,1,25,2016,3,4
890,18.390000,17.600000,17.867778,20,37.863333,34.090000,36.863333,35.133333,37.728333,91.230000,...,3.221583,1,1,1,1,1,21,2016,1,3
900,26.100000,21.600000,20.890000,0,43.166667,40.426667,38.930000,41.526667,45.833333,12.730000,...,15.105153,1,1,1,1,1,4,2016,4,0
910,21.666667,18.700000,17.100000,0,41.693333,38.363333,43.930000,42.660000,53.000000,74.166667,...,18.937972,1,1,1,1,1,14,2016,1,3
1070,18.390000,17.700000,17.856667,30,34.300000,33.963333,36.930000,35.400000,37.608333,90.933333,...,11.735734,1,1,1,1,1,21,2016,1,3
1080,20.700000,20.890000,18.890000,30,42.766667,38.080000,40.633333,39.733333,51.881667,96.090000,...,27.408521,1,1,1,1,1,16,2016,1,5